REMOTE_SSH_HOST='{{ remote_ssh_host }}'
REMOTE_SSH_PORT='{{ remote_ssh_port }}'
REMOTE_SSH_USER='{{ remote_ssh_user }}'
REMOTE_TUNNEL_PORT='{{ remote_tunnel_port }}'
LOCAL_TUNNEL_PORT='{{ local_tunnel_port }}'
